<div class="modal-header">
    <h4 class="modal-title">Updating seminar with name "{{ seminarToUpdate.seminarName }}"</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="modal-body">
      <div class="container">
        <div class="form-group">
          <label for="idInput">Seminar ID</label>
          <input type="text" class="form-control" id="idInput" formControlName="id" readonly>
        </div>
        <div class="form-group mt-4">
          <label for="nameInput">Seminar Name</label>
          <input class="form-control" id="nameInput" formControlName="name">
        </div>
        <div class="form-group mt-4">
            <label for="startDateInput">Start Date</label>
            <input type="date" class="form-control" id="startDateInput" formControlName="startDate">
        </div>
        <div class="form-group mt-4">
            <label for="endDateInput">End Date</label>
            <input type="date" class="form-control" id="endDateInput" formControlName="endDate">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <p class="text-success" *ngIf="updateSuccessful">Seminar updated!</p>
      <p class="text-danger" *ngIf="updateFailed">Failed to update the seminar. Check the console for details.</p>
  
      <button class="btn btn-lg btn-dark" type="submit" *ngIf="updateSuccessful === false">Update</button>
      <button type="button" class="btn btn-lg btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
  </form>
  
  