<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <p class="navbar-brand" href="#">SeminarApp</p>
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/seminars">Seminars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/participants">Participants</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>